.root{
    -fx-font-size: 9.5pt;
    -fx-font-family: "Helvetica Bold";
}

.background {
    -fx-background-color: #ffffff;
}

/*
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
*/

.table-view {

    -fx-base: transparent;
    -fx-control-inner-background: #FFFFFF;
    -fx-background-color: #b7e67e;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: 
        transparent
        #b7e67e
        #b7e67e
        #b7e67e;
    -fx-padding: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical{
    -fx-background-color: #b7e67e;
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: -1 -1 -1 0;
}

.table-view > .virtual-flow > .scroll-bar:horizontal{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: -1 -1 -1 0;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button > .increment-arrow,
.table-view > .virtual-flow > .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #ffffff;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .thumb {
    -fx-background-color: -fx-outer-border, -fx-inner-border, #ffffff; 
    -fx-background-insets: 1, 2, 3;
    -fx-background-radius: 5, 4, 3;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-background-color: transparent, -fx-inner-border, transparent; 
    -fx-background-insets: 0, 1, 2;
    -fx-color: transparent;
    -fx-padding: 3px;
}

.table-view .column-header-background {
    -fx-background-color: #b7e67e;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        transparent
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    /*
    -fx-font-family: "Segoe UI Light";
    */
    -fx-text-fill: #529228;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-row-cell {
	-fx-cell-size: 26.2px;
	-fx-background-color: #ffffff;
	-fx-text-fill: #347150;
}

.table-row-cell:odd {
	-fx-background-color: #ECF0F1;
}

.table-view > .virtual-flow > .scroll-bar:disabled {
    -fx-opacity: 0;
}

.split-pane:vertical > .split-pane-divider {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
    /*
    -fx-border-width: 0 1.3 1.3 1.3;
    -fx-border-color: 
        transparent
        #b7e67e
        #b7e67e
        #b7e67e;
        */
}

.tab-pane .tab
{
    -fx-background-color: #ECF0F1;

}

.tab-header-area {
 -fx-padding: 0;
 -fx-background-insets: 0;
}

.tab-pane .tab:selected
{
    -fx-background-color: #b7e67e;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #9f9d9d;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #7eb758;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

#tab-anchorPane {
	-fx-padding: 1;
}

.text-field {
    -fx-padding: 0px;
}

#feedback-area {
    -fx-background-color: #e4f2d4;
    -fx-fill: #7eb758;
    -fx-padding: 10 6 10 6;
}

#feedback-area .text {
	-fx-fill: black;
}

#feedback-area .text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

#command-area {
    -fx-padding: 2 6 2 6;
}

#command-area .text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}