.root{
    -fx-font-size: 9.5pt;
    -fx-font-family: "Helvetica Bold";
    -fx-cell-focus-inner-border: #85b9de;
}

.background {
    -fx-background-color: #34495e;
}

#tableview-background-pane {
	-fx-background-color: transparent;
	-fx-border-width: 0 1 1 1;
    -fx-border-color: 
        transparent
        #1abc9c
        #1abc9c
        #1abc9c;
}

/*
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
*/

/*
Pseudo class 'up' will change the row background
 color to green when activated 
 */
.table-row-cell:overdue .text 
{
	-fx-fill: #9e9c9c;
}

.table-row-cell .text 
{
	-fx-fill: #ecf0f1;
}

.table-cell {
	-fx-border-color: transparent;
}

.table-view {
    -fx-base: transparent;
    -fx-control-inner-background: #1abc9c;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: 
        transparent
        #1abc9c
        #1abc9c
        #1abc9c;
    -fx-padding: 1;
}

.table-view .table-row-cell {
  -fx-border-width: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical{
    -fx-background-color: #1abc9c;
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: -1 -1 -1 0;
}

.table-view > .virtual-flow > .scroll-bar:horizontal{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: -1 -1 -1 0;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button > .increment-arrow,
.table-view > .virtual-flow > .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #ffffff;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .thumb {
    -fx-background-color: -fx-outer-border, -fx-inner-border, #ffffff; 
    -fx-background-insets: 1, 2, 3;
    -fx-background-radius: 5, 4, 3;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-background-color: transparent, -fx-inner-border, transparent; 
    -fx-background-insets: 0, 1, 2;
    -fx-color: transparent;
    -fx-padding: 3px;
}

.table-view .column-header-background {
    -fx-background-color: #1abc9c;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        transparent
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    /*
    -fx-font-family: "Segoe UI Light";
    */
    -fx-text-fill: #ecf0f1;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-row-cell {
	-fx-background-color: #2c3e50;
	-fx-background-insets: 0, 0 0 0 0;
}

.table-row-cell:odd {
	-fx-background-color: #34495e;
}

.table-view > .virtual-flow > .scroll-bar:disabled {
    -fx-opacity: 0;
}

.split-pane:vertical > .split-pane-divider {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
    -fx-tab-min-height: 25px;
    -fx-tab-max-height: 25px;
}

.tab-pane .tab
{
    -fx-background-color: #567089;

}

.tab-header-area {
 -fx-padding: 0;
 -fx-background-insets: 0;
}

.tab-pane .tab:selected
{
    -fx-background-color: #1abc9c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96abc1;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #dcdfe1;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

#tab-anchorPane {
	-fx-background-color: #1abc9c;
}

.text-field {
    -fx-padding: 0px;
}

.split-pane {
	-fx-background-color: #567089;
}

#feedback-area {
    -fx-background-color: #213142;
    -fx-fill: #7eb758;
    -fx-padding: 6 10 6 10;
}

#feedback-area .text {
	-fx-fill: black;
}

#feedback-area .text-area .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

#command-area {
    -fx-background-color: #213142;
    -fx-padding: 2 6 2 6;
}

#command-area > .text-area > .scroll-pane > .scroll-bar:horizontal {
    -fx-opacity: 0;
}

#command-area .text-area .content {
	-fx-cursor: #ffffff;
}

#command-scroll-bar {
	-fx-background-color: transparent;
	-fx-opacity: 0;
}

#command-scroll-bar *.increment-button,
#command-scroll-bar *.decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-padding: 0;
}

#command-scroll-bar *.increment-arrow,
#command-scroll-bar *.decrement-arrow {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-shape: null;
}

#command-scroll-bar > .thumb {
    -fx-background-color: -fx-outer-border, -fx-inner-border, transparent; 
    -fx-background-insets: 1, 2, 3;
    -fx-background-radius: 5, 4, 3;
}

#filter-label {
	-fx-text-fill: #96abc1;
	-fx-font-size: 9pt;
}
