.text{
	-fx-font-family: Oxygen;
	-fx-font-size: 13px;
}

.root-background {
	-fx-background-color: transparent;
}

.background {
    -fx-background-color: #ffffff;
    -fx-border-width: 0 0 0 0 ;
}

.header-background {
	-fx-background-color: #ffffff;
	-fx-border-width: 0 0 0 0 ;
}

#tableview-background-pane {
	-fx-background-color: transparent;
	-fx-border-width: 0 1 1 1;
    -fx-border-color: 
        transparent
        #b7e67e
        #b7e67e
        #b7e67e;
}

/*
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
*/

.table-row-cell:overdue .text 
{
	-fx-fill: #9e9c9c;
}

.table-row-cell:complete .text {
	-fx-fill: #529228;
}

.table-row-cell .text 
{
	-fx-fill: #565755;
}

.table-cell {
	-fx-border-color: transparent;
}

.table-view {

    -fx-base: transparent;
    -fx-control-inner-background: #FFFFFF;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-border-color: 
        transparent
        #b7e67e
        #b7e67e
        #b7e67e;
    -fx-padding: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical{
    -fx-background-color: #b7e67e;
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: -1 -1 -1 0;
}

.table-view > .virtual-flow > .scroll-bar:horizontal{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: -1 -1 -1 0;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button > .increment-arrow,
.table-view > .virtual-flow > .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #ffffff;
}

.table-view > .virtual-flow > .scroll-bar:vertical > .thumb {
    -fx-background-color: -fx-outer-border, -fx-inner-border, #ffffff; 
    -fx-background-insets: 1, 2, 3;
    -fx-background-radius: 5, 4, 3;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-background-color: transparent, -fx-inner-border, transparent; 
    -fx-background-insets: 0, 1, 2;
    -fx-color: transparent;
    -fx-padding: 3px;
}

.table-view .column-header-background {
    -fx-background-color: #b7e67e;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        transparent
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-text-fill: #529228;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-row-cell {
	-fx-background-color: #ffffff;
}

.table-row-cell:odd {
	-fx-background-color: #ECF0F1;
}

.table-view > .virtual-flow > .scroll-bar:disabled {
    -fx-opacity: 0;
}

.split-pane:vertical > .split-pane-divider {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.split-pane {
    -fx-padding: 1 0 0 0;
    -fx-background-color: #e4e9ea;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
    -fx-tab-min-height: 25px;
    -fx-tab-max-height: 25px;
}

.tab-pane .tab
{
    -fx-background-color: #ECF0F1;

}

.tab-header-area {
 -fx-padding: 0;
 -fx-background-insets: 0;
}

.tab-pane .tab:selected
{
    -fx-background-color: #b7e67e;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #9f9d9d;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #7eb758;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

#tab-anchorPane {
	-fx-padding: 1;
}

.text-field {
    -fx-padding: 0px;
}

#feedback-area {
    -fx-background-color: #f0fbe3;
    -fx-fill: #7eb758;
    -fx-padding: 6 10 6 10;
}

#command-area {
    -fx-background-color: #ffffff;
    -fx-padding: 2 6 2 6;
}

#command-scroll-bar {
	-fx-background-color: transparent;
	-fx-opacity: 0;
}

#command-scroll-bar *.increment-button,
#command-scroll-bar *.decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-padding: 0;
}

#command-scroll-bar *.increment-arrow,
#command-scroll-bar *.decrement-arrow {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-background-insets: 0;
	-fx-padding: 0;
	-fx-shape: null;
}

#command-scroll-bar > .thumb {
    -fx-background-color: -fx-outer-border, -fx-inner-border, transparent; 
    -fx-background-insets: 1, 2, 3;
    -fx-background-radius: 5, 4, 3;
}

#filter-label {
	-fx-text-fill: #96abc1;
	-fx-font-size: 9pt;
}

#popupLabel{
    -fx-text-fill: #ffffff;
    -fx-font-size: 12pt;
    -fx-background-color: #a3d566;
    -fx-background-radius: 4px;
    -fx-padding: 1 10 1 10;
}
